
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #59c173, #a17fe0, #5d26c1);
    font-family: 'Lobster', cursive;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.btn {
    font-family: inherit;
    background-color: rgb(255, 244, 228);
    border-radius: 5px;
    border: none;
    color: rgb(130, 130, 130);
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.5rem;
    cursor: pointer;
    outline: none;
    transition: transform 0.4s ease;
}

.btn:active {
    transform: scale(98%);
}